<!DOCTYPE html>
<html>
<head>
	<title>注册错误</title>
	<title>错误界面</title>
	<link rel="stylesheet" type="text/css" href="/static/css1/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/static/css1/default.css">
    <link rel="stylesheet" type="text/css" href="/static/css1/styles.css">
    <style type="text/css">
        body {	background: url(/static/images2/3.jpg);
        		background-repeat: no-repeat;
    			background-attachment: fixed;
    			background-position:  535px 250px;
    			background-size:  300px 300px;}
    </style>
</head>
<body>
	<header class="htmleaf-header">
            <h1>教师管理系统</h1>
    </header>

	<div class="control-group" style="text-align: center;margin-top:50px;color:black;">
		<h2>对不起注册失败！该用户已将注册过。点击下方按钮返回注册界面</h2>
		<a href="/back_to_register_teacher/" class="btn btn-primary ">返回</a>
	</div>
</body>
</html>