<!DOCTYPE html>
<html>
<head>
    <title>主界面</title>

    <!-- For-Mobile-Apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords"
          content="Hotel Booking Widget Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- //For-Mobile-Apps -->

    <!-- Style -->
    <link rel="stylesheet" href="/static/css2/style.css" type="text/css" media="all"/>

</head>
<body>

<h1>欢迎来到我们的教师管理系统</h1>

<div class="hotel">

    <ul class="menu">
        <li class="item1">
            <h1>请选择操作</h1>
            <ul class="cute">
                <li class="subitem1"><a href="/login1/" class="btn btn-primary ">学生登录</a></li>
                <li class="subitem2"><a href="/login2/" class="btn btn-primary ">教师登录</a></li>
                <li class="subitem3"><a href="/register1/" class="btn btn-primary ">立即注册</a></li>
                <li class="subitem3"><a href="/show_to_tour/" class="btn btn-primary ">游客登录</a></li>
                <li class="subitem1"><a href="/login3/" class="btn btn-primary ">管理员登录</a></li>
                <li class="subitem6"><a href="/found_password1/" class="btn btn-primary ">找回密码</a></li>
            </ul>
        </li>
    </ul>

</div>

</body>
</html>