<!DOCTYPE html>
<html>
<head>
	<title>主页</title>
<link rel="stylesheet" type="text/css" href="/static/css1/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/static/css1/default.css">
    <link rel="stylesheet" type="text/css" href="/static/css1/styles.css">
    <style type="text/css">
        body {	background: url(/static/images/1.jpg);
        		background-repeat: no-repeat;
    			background-attachment: fixed;
    			background-position:  0px 0px;
    			background-size:  1400px 600px;}
    </style>
</head>
<body>
	<header class="htmleaf-header">
            <h1>教师管理系统</h1>
    </header>
</body>
</html>