<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>密码找回成功</title>
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" type="text/css" href="/static/css1/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/static/css1/default.css">
    <link rel="stylesheet" type="text/css" href="/static/css1/styles.css">
</head>
<body>
<div class="htmleaf-container">
        <header class="htmleaf-header">
            <h1>教师管理系统</h1>
        </header>
        <div class="wrapper">
            <div class="container">
				<h1>恭喜您，密码找回成功，以通过邮件形式发送到您的邮箱里，注意查收！点击下方按钮回到主界面</h1>
				<form action="/back_to_index/" method="post">
					{% csrf_token %} 
					<input type="submit" value="返回">
				</form>
			</div>
		</div>
</div>    
</body>
</html>