<!--show_to_student.html-->

{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<script>

</script>
<header class="htmleaf-header">
    <h1>教师管理系统</h1>
</header>


<table border=1 class="teacher" align="center" style="text-align: center;margin-top:100px;color:black;">
    <caption>查找结果</caption>
    <tr>
        <th>姓名</th>
        <th>学院</th>
        <th>研究方向</th>
        <th>审核状态</th>
        <th>操作</th>
    </tr>
    {% for show_teacher in teacher_search_lst %}
        <tr>
            <td><a href="{% url 'details_to_VIP' %}?pk={{ show_teacher.pk }}">{{ show_teacher.name}}</a></td>
            <td>{{ show_teacher.academy }}</td>
            <td>{{ show_teacher.research }}</td>
            {% if show_teacher.tag == True %}
            <td>已通过</td>
            {% else %}
            <td>待审核</td>
            {% endif %}
            <td><a href="{% url 'allow_teacher' show_teacher.pk %}" >通过</a></td>

        </tr>
    {% endfor %}
</table>

<input type="button" name="button1" id="button1" value="返回" onclick="history.go(-1)">

</body>
</html>